body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;

}

.head {
    color: #f9faf8;
    font-size: 24px;
    align-self: center;

}

ul {
    display: flex;
    color: #e5e7eb;
    gap: 8px;
    list-style: none;
    font-size: 18px;
}
